@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4"Jigsaw Puzzle Solver</h1>
    <p>Welcome to the Jigsaw Puzzle Solver Tool. We will solve any jigsaw puzzle you present to us</p>
</div>
