@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4" Jigsaw Puzzle Solver</h1>
    <p>Welcome to the Jigsaw Puzzle Solver Tool. We will solve any jigsaw puzzle you present to us.</p>
    <h2>If you want to know more about this project or it's development please visit the project's github page <a href="https://github.com/andreijw/JigsawPuzzleSolver"> JigsawPuzzleSolver </a> </h2>
</div>
